/* FOOTER */

footer {
    background-color: #353535;
    color: #ffffff;
    padding: 20px;

    @include breakpoint(desktop) {
        padding-left: 40px;
    }

    @include breakpoint(tablet) {
        padding-left: 40px;
    }

    h4 {
        font-family: 'Shrikhand';
        font-size: 24px;
        padding-bottom: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;

        .footer-item {
            display: inline-flex;
            margin-bottom: 10px;
            font-family: 'roboto', sans-serif;

            .fas {
                margin-right: 10px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}