/* OVERLAY */
@keyframes overlay {
    0% {
        opacity: 1;
        z-index: 2;
    }

    75% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
    }
}
#overlay {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: overlay 3s;

    @keyframes loading {

        75% {
            border-top-color: #ff79da;
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .loader {
        width: 64px;
        height: 64px;
        border: 20px solid #f6f6f6;
        border-top: 20px solid #9356DC;
        border-radius: 50%;
        animation: loading 1000ms linear infinite;
    }
}