/* SECTION MENU */

.section-menu {
    width: 100%;
    position: relative;
    bottom: 40px;
    margin-bottom: -40px;
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 40px;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        margin-left: 20px;
    }
         
    .far {
        position: relative;
        left: 85%;
        bottom: 30px;

        &:hover {
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .appetizer {
        margin-bottom: 40px;

        .title-menu {
            margin-bottom: 20px;
            margin-left: 20px;

            h2 {
                font-size: 18px;
                font-family: 'roboto', sans-serif;
                font-style: initial;
                border-bottom: #99E2D0 5px solid;
                width: 55px;
                padding-bottom: 10px;
            }
        }


        .appetizer-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-child(1) {
                animation-delay: 200ms;
            }

            &:nth-child(2) {
                animation-delay: 400ms;
            }

            &:nth-child(3) {
                animation-delay: 600ms;
            }

        }
    }

    .dishes {
        margin-bottom: 40px;

        .title-menu {
            margin-bottom: 20px;
            margin-left: 20px;
            
            h2 {
                font-size: 18px;
                font-family: 'roboto', sans-serif;
                font-style: initial;
                border-bottom: #99E2D0 5px solid;
                width: 55px;
                padding-bottom: 10px;
            }
        }

        .dishes-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .desserts {
        margin-bottom: 40px;

        .title-menu {
            margin-bottom: 20px;
            margin-left: 20px;

            h2 {
                font-size: 18px;
                font-family: 'roboto', sans-serif;
                font-style: initial;
                border-bottom: #99E2D0 5px solid;
                width: 55px;
                padding-bottom: 10px;
            }
        }

        .desserts-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .order {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 40px;

        .btn {
            width: 40%;
            font-family: 'roboto', sans-serif;
        }
    }
}