
/* SECTION RESTAURANT */

.section-restaurant {
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 40px;

    h1 {
        font-family: 'roboto', sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .restaurant-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;

        @include breakpoint(desktop) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
        }

        .restaurant-card {
            @include breakpoint(desktop) {
                width: 33%;
            }
            
            .news {
                position: relative;
                top: 60px;
                float: right;
                margin-right: 15px;
                margin-top: -50px;
                background-color: #99E2D0;
                text-align: center;
                text-decoration: none;
                font-family: 'roboto', sans-serif;
                font-weight: bold;
                padding: 10px;
                color: darken($color: #99E2D0, $amount: 40);
            }
        }
    }

    
}