/* BUTTONS */

.btn-hero {
    background: rgb(147,86,220);
    background: linear-gradient(356deg, rgba(147,86,220,1) 27%, rgba(255,121,218,1) 84%);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}