/* CARD MENU */

@keyframes menu {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
}

.card-menu {
    width: 90%;
    display: inline-flex;
    margin-bottom: 20px;
    animation: menu 900ms both;

    &.action1 {
        animation-delay: 300ms;
    }

    &.action2 {
        animation-delay: 600ms;
    }

    &.action3 {
        animation-delay: 900ms;
    }
    

    .card-content {
        width: 100%;
        background-color: #ffffff;
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 20px 0px;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        .card-items {
            width: 100%;
            
            h3 {
                font-size: 16px;
                font-family: 'roboto', sans-serif;
                font-weight: bold;
                padding: 20px 15px 5px 20px;
            }

            .card-item {
                width: 100%;
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-family: 'roboto', sans-serif;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    padding: 0px 0px 15px 20px;
                    transition: width 2s;
                }
            
                span {
                    font-family: 'roboto', sans-serif;
                    font-weight: bold;
                    padding-right: 20px;
                }
            }
        }

        .validate {
            display: none;
        }   
    }


    &:hover {

        .card-content {
            .card-item {
                
                p { 
                    width: 150px;

                    @include breakpoint(desktop) {
                        width: 90%;
                    }
                }
            } 
        }

        @keyframes validate {
            0% {
                transform: translateX(110px);
            }
        }

        .validate {
            width: 10%;
            background-color: #99E2D0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 0px 20px 0px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: validate 600ms;

            @include breakpoint(desktop) {
                width: 5%;
            }

            @keyframes rotate {
                0% {
                    transform: rotate(360deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
            
            .fas {
                position: initial;
                color: #ffffff;
                font-size: 25px;
                animation: rotate 500ms;
                animation-delay: 400ms;
                
            }
        } 
    }  
}